APP_DEBUG = true[MYSQL]DB_TYPE = mysqlDB_HOST = 127.0.0.1DB_NAME = tp_mini_crDB_USER = rootDB_PASS = rootDB_PORT = 3306DB_CHARSET = utf8DB_PREFIX = cr_[CACHE]DRIVER = redisCACHE_PREFIX = cr:CACHE_TAG_PREFIX = miniCr:[REDIS]REDIS_HOSTNAME = 127.0.0.1PORT = 6379REDIS_PASSWORD =SELECT = 0DEFAULT_LANG = zh-cn