// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// table表头背景颜色
$tableHeaderBackgroundColor: #e5eeff;

// 主要颜色
$primaryColor: #409EFF;
$primaryLightColor-1: #99bbff;
$primaryLightColor-2: #ccddff;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  tableHeaderBackgroundColor: $tableHeaderBackgroundColor;

  primaryColor: $primaryColor;
  primaryLightColor-1: $primaryLightColor-1;
  primaryLightColor-2: $primaryLightColor-2
}
